.mainText {
  color: #ffffff;
  text-shadow: 2px 2px 2px #0c2b4e;
  font-size: 2.5rem;
  margin: 0;
}
.subText {
  color: #ffffff;
  text-shadow: 2px 2px 2px #0c2b4e;
  font-size: 1.8rem;
}

@media (min-width: 992px) {
  .mainText {
  color: #0c2b4e;
  text-shadow: 2px 2px 2px #57616c;
  font-size: 2.5rem;
  margin: 0;
}
.subText {
  color: #0c2b4e;
  text-shadow: 2px 2px 2px #57616c;
  font-size: 1.8rem;
}
}
