
.mainText {
  color: #e9e1e1;
  text-shadow: 2px 2px 8px #ffc400;
  font-size: 2.5rem;
  margin: 0;
}
.subText {
  color: #e9e1e1;
  text-shadow: 2px 2px 8px #ffc400;
  font-size: 1.8rem;
}

@media (min-width: 992px) {
  .mainText {
  color: #0c2b4e;
  text-shadow: 2px 2px 8px #ffc400;
  font-size: 2.5rem;
  margin: 0;
}
.subText {
  color: #0c2b4e;
  text-shadow: 2px 2px 8px #ffc400;
  font-size: 1.8rem;
}
}
