.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: "bengFont";
  src: url("/assets/fonts/bengfonts/Atma-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "bengFontBold";
  src: url("/assets/fonts/bengfonts/Alkatra-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "hindiFont";
  src: url("/assets/fonts/hindifonts/Kalam-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "hindiFontBold";
  src: url("/assets/fonts/hindifonts/Kalam-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "englishFont";
  src: url("/assets/fonts/englishfonts/Poppins-Medium.ttf")
    format("truetype");
}
